.chart-interval {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
}

.chart-interval > label {
    padding: 0 10px;
}

.chart-interval > button {
    margin: 0 10px;
}